## DataFrame
DataFrame adalah struktur data dua dimensi dengan baris dan kolom, mirip dengan tabel dalam database atau lembar kerja di spreadsheet. Setiap kolom dalam DataFrame adalah sebuah Series

* Ada 3 argument
  1. Data nya
  2. index (nama utk baris)
  3. columns (nama utk column)

* Ketika mengganti nama index dan column jumlah data dengan baris dan column harus sama jika tidak akan terjadi error, contoh ada dibawah

In [1]:
import pandas as pd
import numpy as np

### 1. Membuat DataFrame 1 : Dari List dan Array

In [2]:
# Cara sederhana memanggil DataFrame dan menggunakan nya
data = [1,2,3,4]
pd.DataFrame(data)

   0
0  1
1  2
2  3
3  4

In [3]:
# Cara menambahkan kolom di buat kedalam nested list 2 data
data = [
    [1,2,3,4],
    [5,6,7,8],
]

pd.DataFrame(data)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [7]:
# Cara menambahkan kolom di buat kedalam nested list  3 data
data = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
# Cara mengganti nama index dan column agar tidak menggunakan angka
# bisa memasukan langusng atau dibuat kedalam variabel terpisah
# jumlah data dengan jumlah index dan columns harus sama, jika tidak akan error
index = ['baris 1', 'baris 2', 'baris 3']
kolom = ['kolom 1', 'kolom 2', 'kolom 3', 'kolom 4']

# saat membuat DataFrame kita masukanmenjadi argument
pd.DataFrame(data, index=index, columns=kolom)

         kolom 1  kolom 2  kolom 3  kolom 4
baris 1        1        2        3        4
baris 2        5        6        7        8
baris 3        9       10       11       12

In [5]:
# contoh satu lagi untuk membuat DataFrame menggunakan np.random
data = np.random.randint(1,100, size=(5,5))
index = ['A', 'B', 'C', 'D', 'E']
kolom = ['kolom 1', 'kolom 2', 'kolom 3', 'kolom 4', 'kolom 5']

pd.DataFrame(data, index=index, columns=kolom)

   kolom 1  kolom 2  kolom 3  kolom 4  kolom 5
A       32       83        9       36       88
B        8        3       68       53       62
C       80       91       52       64       69
D       19       19       51       91       85
E       23       56       75       15       23