### Membuat DataFrame 2 : Dari Dictionary (lanjutan 60)
  * key dalam dictionary akan secara default menjadi nama columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Membuat Dictionary
kendaraan = {
    'motor' : ['Yamaha', 'Honda', 'Suzuki'],
    'mobil' : ['Toyota', 'Honda', 'Daihatsu']
}
index = ['A', 'B', 'C']
# key nya akan otomatis menjadi columns
pd.DataFrame(kendaraan, index=index)

    motor     mobil
A  Yamaha    Toyota
B   Honda     Honda
C  Suzuki  Daihatsu

### Membuat DataFrame 3 : List yang berisi Dictionary

In [3]:
# List yang berisi Dictionary
  # bisa digunakan jika mengambil data dari json API, atau array of object
data = [
    {
        'Nama' : 'Mahmud',
        'Umur' : 28
    },
    {
        'Nama' : 'Markonah',
        'Umur' : 24
    }
]
index = ['A', 'B']
pd.DataFrame(data, index=index)

       Nama  Umur
A    Mahmud    28
B  Markonah    24