### 2. Mengakses Data pada DataFrame

In [1]:
import pandas as pd
import numpy as np

#### Mengakses DataFrame
  * Ada 2 cara mengakses Column
      1. dibuat Series (cara 1 dan 3)
      2. dibuat DataFrame (cara 2) -> recomended karena bisa akses column lebih dari 1
  * Contoh ada dibawah

In [2]:
# membuat data dictionary of list /object of array
data_kendaraan = {
    'Merek' : ['Toyota', 'Honda', 'Suzuki', 'Yamaha', 'Mitsubishi', 'Kawasaki', 'Daihatsu', 'Isuzu'],
    'Model' : ['Avanza', 'Civic', 'Ertiga', 'NMAX', 'Pajero', 'Ninja', 'Xenia', 'Panther'],
    'Tahun Produksi' : [2021, 2020, 2022, 2021, 2019, 2018, 2023, 2017],
    'Tipe' : ['Mobil', 'Mobil', 'Mobil', 'Motor', 'Mobil', 'Motor', 'Mobil', 'Mobil' ]
}

mob_index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

df_kendaraan = pd.DataFrame(data_kendaraan, index=mob_index)
df_kendaraan

        Merek    Model  Tahun Produksi   Tipe
A      Toyota   Avanza            2021  Mobil
B       Honda    Civic            2020  Mobil
C      Suzuki   Ertiga            2022  Mobil
D      Yamaha     NMAX            2021  Motor
E  Mitsubishi   Pajero            2019  Mobil
F    Kawasaki    Ninja            2018  Motor
G    Daihatsu    Xenia            2023  Mobil
H       Isuzu  Panther            2017  Mobil

#### Mengakses kolom
  * Ada 3 Cara untuk Mengakses column

In [3]:
# cara panggil attribute kolom nya
df_kendaraan.columns

Index(['Merek', 'Model', 'Tahun Produksi', 'Tipe'], dtype='object')

In [4]:
# cara 1 akses column dengan cara biasa yang akan menghasilkan series
col1 = df_kendaraan['Merek']
col1

A        Toyota
B         Honda
C        Suzuki
D        Yamaha
E    Mitsubishi
F      Kawasaki
G      Daihatsu
H         Isuzu
Name: Merek, dtype: object

In [5]:
#  cara 1 akan bertipe series -> dimana series hanya 1 dimension dan tidak akan bisa memanggil column lain
type(col1)

pandas.core.series.Series

In [6]:
# cara 2 akses column yang akan menghasilkan type DataFrame
col2 = df_kendaraan[['Merek', 'Tipe']]
col2

        Merek   Tipe
A      Toyota  Mobil
B       Honda  Mobil
C      Suzuki  Mobil
D      Yamaha  Motor
E  Mitsubishi  Mobil
F    Kawasaki  Motor
G    Daihatsu  Mobil
H       Isuzu  Mobil

In [7]:
# cara 2 akan menghasilkan type DataFrame --> yang dimana kita bisa mengakses lebih dari 1 column
type(col2)

pandas.core.frame.DataFrame

In [8]:
#  cara 3 dengan dot/. --> tapi tipe yang di kembalikan Series, dan tidak bisa mengkases variabel yang punya spasi
col3 = df_kendaraan.Merek
col3

A        Toyota
B         Honda
C        Suzuki
D        Yamaha
E    Mitsubishi
F      Kawasaki
G      Daihatsu
H         Isuzu
Name: Merek, dtype: object

In [9]:
type(col3)

pandas.core.series.Series