#### Mengakses Baris/Index
  * Ada 2 fungsi untuk mengakses baris
    1. loc --> dimasukan nama/key label nya
    2. iloc --> dimasukan nomor index nya
  * Cara membuat jadi Series dan DataFrame ada di bawah, cara nya sama kaya yang di atas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# membuat data dictionary of list /object of array
data_kendaraan = {
    'Merek' : ['Toyota', 'Honda', 'Suzuki', 'Yamaha', 'Mitsubishi', 'Kawasaki', 'Daihatsu', 'Isuzu'],
    'Model' : ['Avanza', 'Civic', 'Ertiga', 'NMAX', 'Pajero', 'Ninja', 'Xenia', 'Panther'],
    'Tahun Produksi' : [2021, 2020, 2022, 2021, 2019, 2018, 2023, 2017],
    'Tipe' : ['Mobil', 'Mobil', 'Mobil', 'Motor', 'Mobil', 'Motor', 'Mobil', 'Mobil' ]
}

mob_index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

df_kendaraan = pd.DataFrame(data_kendaraan, index=mob_index)
df_kendaraan

        Merek    Model  Tahun Produksi   Tipe
A      Toyota   Avanza            2021  Mobil
B       Honda    Civic            2020  Mobil
C      Suzuki   Ertiga            2022  Mobil
D      Yamaha     NMAX            2021  Motor
E  Mitsubishi   Pajero            2019  Mobil
F    Kawasaki    Ninja            2018  Motor
G    Daihatsu    Xenia            2023  Mobil
H       Isuzu  Panther            2017  Mobil

In [3]:
#  cara panggil unutk mendapatkan baris/index
df_kendaraan.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype='object')

In [4]:
# loc : cara 1 untuk mengakses baris
  # ini cara return nya Series
df_kendaraan.loc['C']

  # ini cara return nya DataFrame
df_kendaraan.loc[['C']]

    Merek   Model  Tahun Produksi   Tipe
C  Suzuki  Ertiga            2022  Mobil

In [5]:
# iloc : cara 2 unutk mengakses baris
  # ini cara return nya Series
df_kendaraan.iloc[2]

  # ini cara return nya DataFrame
df_kendaraan.iloc[[2]]

    Merek   Model  Tahun Produksi   Tipe
C  Suzuki  Ertiga            2022  Mobil