#### Mengakses Isi DataFrame (Indexing dan Slicing)
  * Ada beberapa cara untuk melakukan nya
      1. dengan akses dari baris/index dengan loc/iloc
      2. dengan akses dari kolom baru masukan label/key nya

In [1]:
import pandas as pd
import numpy as np

# membuat data dictionary of list /object of array
data_kendaraan = {
    'Merek' : ['Toyota', 'Honda', 'Suzuki', 'Yamaha', 'Mitsubishi', 'Kawasaki', 'Daihatsu', 'Isuzu'],
    'Model' : ['Avanza', 'Civic', 'Ertiga', 'NMAX', 'Pajero', 'Ninja', 'Xenia', 'Panther'],
    'Tahun Produksi' : [2021, 2020, 2022, 2021, 2019, 2018, 2023, 2017],
    'Tipe' : ['Mobil', 'Mobil', 'Mobil', 'Motor', 'Mobil', 'Motor', 'Mobil', 'Mobil' ]
}

mob_index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

df_kendaraan = pd.DataFrame(data_kendaraan, index=mob_index)
df_kendaraan

        Merek    Model  Tahun Produksi   Tipe
A      Toyota   Avanza            2021  Mobil
B       Honda    Civic            2020  Mobil
C      Suzuki   Ertiga            2022  Mobil
D      Yamaha     NMAX            2021  Motor
E  Mitsubishi   Pajero            2019  Mobil
F    Kawasaki    Ninja            2018  Motor
G    Daihatsu    Xenia            2023  Mobil
H       Isuzu  Panther            2017  Mobil

In [4]:
# Cara ke 1 menggunakan loc utk akses baris
print(df_kendaraan.loc['D', 'Model'])
print(df_kendaraan.loc['F', 'Merek'])

NMAX
Kawasaki

In [3]:
# Cara ke 2 pakai iloc
df_kendaraan.iloc[3, 1]

'NMAX'

In [5]:
# slicing sebagian dengan loc
df_kendaraan.loc[['C'], ['Merek', 'Model']]

    Merek   Model
C  Suzuki  Ertiga

In [6]:
# slicing sebagian dengan loc
df_kendaraan.loc[['E', 'F'], ['Model']]

    Model
E  Pajero
F   Ninja

In [7]:
# Cara 3 akses dari kolom dan masukan key/label index
df_kendaraan['Model']['D']

'NMAX'