## Pengertian Series
  Series adalah struktur data satu dimension yang mirip dengan array di Numpy, namun lebih kaya karena dilengkapi dengan indeks. Setiap elemen dalam series memiliki label (indeks) yang memungkinkan akses data dengan label tersebut.

In [ ]:
# import pandas terlebih dahulu
import pandas as pd

# cara cek version
# pd.__version__

'2.3.1'

### 1. Membuat Series

#### Dari List

In [3]:
# Dari List integer
dataList = [10,20,30,40]
pd.Series(dataList)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# Dari List string
hewan = ['kucing', 'anjing', 'macan', 'ayam']
pd.Series(hewan)

0    kucing
1    anjing
2     macan
3      ayam
dtype: object

In [5]:
# data campuran
dataListCampuran = ['a', 1, 'b', 2]
pd.Series(dataListCampuran) # data akan di anggap semua menjadi object

0    a
1    1
2    b
3    2
dtype: object

In [6]:
# data nested list
dataNestedList = [
    [1,2],
    [3,4],
]
pd.Series(dataNestedList)

0    [1, 2]
1    [3, 4]
dtype: object

In [7]:
# data function ke dalam list
dataFunction = [print, len]
pd.Series(dataFunction)

0    <built-in function print>
1      <built-in function len>
dtype: object

#### Dari Dictionary

In [8]:
# Data Dictionary
kendaraan = {
    'motor': 'Beat',
    'mobil': 'Pajero',
    'pesawat': 'Airbus'
}
pd.Series(kendaraan)

motor        Beat
mobil      Pajero
pesawat    Airbus
dtype: object

#### Dari Array

In [9]:
# Data Array dari numpy
import numpy as np
arr = np.array([1,2,3,4])

pd.Series(arr)

0    1
1    2
2    3
3    4
dtype: int64