# Series

Series adalah struktur data satu dimensi yang mirip dengan array di NumPy, namun lebih kaya karena dilengkapi dengan indeks. Setiap elemen dalam Series memiliki label (indeks) yang memungkinkan akses data dengan label tersebut.

In [20]:
import pandas as pd

### 1. Membuat Series

#### Dari list

In [21]:
data = [10, 20, 30, 40]
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [22]:
hewan = ['kucing', 'anjing', 'macam', 'ayam']
pd.Series(hewan)

0    kucing
1    anjing
2     macam
3      ayam
dtype: object

In [23]:
data = ['a', 1, 'b', 2]
pd.Series(data)

0    a
1    1
2    b
3    2
dtype: object

In [24]:
data = [[1,2], [3,4]]
pd.Series(data)

0    [1, 2]
1    [3, 4]
dtype: object

In [25]:
data = [print, len]
pd.Series(data)

0    <built-in function print>
1      <built-in function len>
dtype: object

#### Dari Dictionary

In [26]:
kendaraan = {
    'motor': 'Beat',
    'mobil': 'Pajero',
    'pesawat': 'Airbus'
}
pd.Series(kendaraan)

motor        Beat
mobil      Pajero
pesawat    Airbus
dtype: object

#### Dari Array

In [27]:
import numpy as np

In [28]:
arr = np.array([1,2,3,4])
pd.Series(arr)

0    1
1    2
2    3
3    4
dtype: int64

### 2. Indexing dan Slicing Series

In [29]:
arr = np.array([10,20,30,40])
ser = pd.Series(arr)
ser

0    10
1    20
2    30
3    40
dtype: int64

In [30]:
presidents_indonesia = {
    'pertama': "Soekarno",
    'kedua': "Suharto",
    'ketiga': "Bacharuddin Jusuf Habibie",
    'keempat': "Abdurrahman Wahid",
    'kelima': "Megawati Soekarnoputri",
    'keenam': "Susilo Bambang Yudhoyono",
    'ketujuh': "Joko Widodo"
}
ser_presiden = pd.Series(presidents_indonesia)
ser_presiden

pertama                     Soekarno
kedua                        Suharto
ketiga     Bacharuddin Jusuf Habibie
keempat            Abdurrahman Wahid
kelima        Megawati Soekarnoputri
keenam      Susilo Bambang Yudhoyono
ketujuh                  Joko Widodo
dtype: object

#### Indexing

In [31]:
ser[0]

10

In [32]:
ser_presiden['pertama']

'Soekarno'

#### Slicing

In [33]:
ser[1:3]

1    20
2    30
dtype: int64

In [34]:
ser_presiden[0:3]

pertama                     Soekarno
kedua                        Suharto
ketiga     Bacharuddin Jusuf Habibie
dtype: object

In [35]:
ser_presiden['pertama':'ketiga']

pertama                     Soekarno
kedua                        Suharto
ketiga     Bacharuddin Jusuf Habibie
dtype: object

### 3. Operasi dan Fungsi pada Series

In [36]:
ser_1 = pd.Series([1,2,3,4])
ser_2 = pd.Series([5,6,7,8])

#### Operasi Aritmetika

In [37]:
ser_1 + ser_2

0     6
1     8
2    10
3    12
dtype: int64

In [38]:
ser_1 * ser_2

0     5
1    12
2    21
3    32
dtype: int64

#### Fungsi/Menthod/Attribue
https://pandas.pydata.org/docs/reference/series.html

In [39]:
ser_1.sum()

10

In [40]:
ser_1.mean()

2.5