# Latihan Struktur Data Series

## 1. Import library pandas

In [1]:
# Ketikan kode anda disini
import pandas as pd

## 2. Buatkan series seperti pada solusi dibawah simpan dalam variabel s

In [4]:
# Ketikan kode anda disini
import numpy as np
# buat numpy array nya
arr = np.array([10,20,30,40,50])
# ubah structure menjadi series pandas
arr_series = pd.Series(arr)
# panggil
arr_series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
# Hasil output yang diinginkan

0    10
1    20
2    30
3    40
4    50
dtype: int64

## 3. Lakukan slicing untuk mendapatkan hasil berikut

In [5]:
# Ketikan kode anda disini
# ambil data dari arr_series
arr_series[2:4]

2    30
3    40
dtype: int64

In [6]:
# Hasil output yang diinginkan

2    30
3    40
dtype: int64

## 4. Lakukan operasi matematika pada series s hingga menghasilkan output berikut

In [6]:
# Ketikan kode anda disini
arr_pembagian = arr_series / 10
arr_pembagian

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [7]:
# Hasil output yang diinginkan

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

## 5. Gunakan method/fungsi series untul mendapatkan standar deviasinya

In [7]:
# Ketikan kode anda disini
arr_deviation = arr_series.std() # menggunakan method std
# panggil
arr_deviation

np.float64(15.811388300841896)

In [8]:
# Hasil output yang diinginkan

15.811388300841896